[submodule "libPhonograph"]
	path = libPhonograph/libPhonograph
	url = https://github.com/FoedusProgramme/libPhonograph.git
[submodule "Cupertino"]
	path = Cupertino/Cupertino
	url = https://github.com/FoedusProgramme/Cupertino.git
